  <%= form_with(model: link, local: true) do |form| %>
    <% if link.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

        <ul>
        <% link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label value="URL" %>
      <%= form.text_field :url %>
    </div>

    <div class="field">
      <%= form.label value="햏햟향쒫썛쫧쟳" %>
      <%= form.text_field :title %>
    </div>

    <%= form.label value="뤯쐃쮏웷쥃" %>
    <div class="field field_img-upload">
        <div style="color: #231F20; font-size: 16px; font-weight: 100;">행햟햡혞향햦혝햣 햦향쮏쐄햟햤햣햫햦햣 &ensp;游닌</div>
        <%= form.file_field :image %>
    </div>

    <%= form.label value="쮏얧쐃쮐햨햟" %>
    <div class="field">
      <% @boards = Board.all %>
      <%= form.select :board_id, options_from_collection_for_select(@boards, "id", "title"), id: "dropdown", width: "450px"%>
    </div>

    <div class="actions">
      <%= form.submit value="햆쮏쐃썛쒫쟴혧"%>
    </div>

  <% end %>
