<section class="container_form">

  <%= form_with(model: link) do |form| %>
    <% if link.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>
        <ul>
        <% link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.text_field :url, :autofocus => "autofocus", :autocomplete => "off", :class => "form-link", :placeholder => "Чудесная ссылка" %>
    </div>

    <div class="field">
      <% @boards = Board.all %>
      <%= form.select :board_id, options_from_collection_for_select(@boards, "id", "title"), id: "dropdown", width: "450px", placeholder: "Выберите подборку" %>
    </div>

    <div class="form-board__buttons">
      <div class="actions">
        <%= form.submit value="Добавить", :class => "button_ok" %>
      </div>
      <a class="button_back">Отменить</a>
    </div>

  <% end %>

</section>
