

  <%= form_with(model: link, local: true) do |form| %>
    <% if link.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

        <ul>
        <% link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :url %>
      <%= form.text_field :url %>
    </div>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field" style="background-color: #fff; border: none; height: 250px; text-align: center; width: 350px; line-height: 270px; position: relative; border-radius: 6px; border: 2px dashed #cccccc; margin: 40px 0;">
        <%= image_tag 'upload.svg' %>
        <!-- <div style="color: #cccccc">Загрузите изображение</div> -->
        <%= form.file_field :image %>
    </div>

      <div class="field">
        <%= form.label :user_id %>
        <%= form.number_field :user_id %>
      </div>

    <div class="field">
      <%= form.label :board_id %>
      <% @boards = Board.all %>
      <%= select_tag "boards", options_from_collection_for_select(@boards, "id", "title"), id: "dropdown" %>
    </div>

    <div class="actions">
      <%= form.submit value="Сохранить"%>
    </div>

  <% end %>
