<div class="link__item">
  <%= link_to link.url, target: "_blank", class: "link" do %>
    <% linkProps = LinkThumbnailer.generate(link.url)%>
    <div class="link__image">
      <%= image_tag linkProps.images.first.src.to_s %>
    </div>
    <h2 class="link__title"><%= linkProps.title %></h2>
    <div class="link__url"><%= linkProps.url %></div>
  <% end %>

    <div class="link__settings">
        <%= link_to 'Изменить', edit_link_path(link) %>
        <%= link_to 'Удалить', link, method: :delete, data: { confirm: 'Вы уверены?' } %>
    </div>
</div>
