<section class="section_linksWrapper">

  <section class="section_boardInLinks">
    <div class="section_boardInLinks__header">
      <%= render 'application/contextmenu'%>
      <h1 class="section_boardInLinks__title"><%= @board.title %></h1>
    </div>
    <p class="section_boardInLinks__description"><%= @board.description %></p>
  </section>

  <section class="section_links">
      <%= render 'newlink' %>
      <%= render @links %>
  </section>

</section>
