<section class="section_links-wrapper">

  <section class="section_board-in-links">
    <h1 class=header_board><%= @board.title %></h1>
    <p class=description_board><%= @board.description %></p>
  </section>

  <section class="link__section">

    <% @links.each do |link| %>

    <section class="link__section-one-link">

      <%= link_to link.url, target: "_blank", class: "link" do %>

        <div class="link__image">
          <% if link.image.try(:url) %>
            <%= image_tag link.image.url, width: '368px', height: '194px'%>
          <% end %>
        </div>
        <h2 class="link__title"><%= link.title %></h2>
        <div class="link__url"><%= link.url %></div>


            <div class="container-menu-card">
            <div class="more">
                <div id="more-btn" class="more-btn_show">
                    <div class="more-btn-img">✏️</div>
                </div>
                <div class="more-menu">
                    <div class="more-menu-caret">
                        <div class="more-menu-caret-outer"></div>
                        <div class="more-menu-caret-inner"></div>
                    </div>
                    <ul class="more-menu-items" tabindex="-1" role="menu" aria-labelledby="more-btn" aria-hidden="true">
                        <li class="more-menu-item" role="presentation">
                            <div type="button" class="more-menu-btn" role="menuitem"><%= link_to 'Изменить', edit_link_path(link) %></div>
                        </li>
                        <li class="more-menu-item" role="presentation">
                            <button type="button" class="more-menu-btn" role="menuitem"><%= link_to 'Удалить', link, method: :delete, data: { confirm: 'Вы уверены?' } %></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


      <% end %>
    </section>

    <% end %>

  </section>
</section>
