<section class="section_links-wrapper">


  <section class="section_board-in-links">
    <div class="container_header_board">
      <%= render 'application/contextmenu'%>
      <h1 class="header_board"><%= @board.title %></h1>
    </div>
    <p class="description_board"><%= @board.description %></p>
  </section>

  <section class="link__section">
      <%= render 'newlink' %>
      <%= render @links %>
  </section>

</section>
