<main class="main_show">

  <% if @link.image.try(:url) %>
   <%= image_tag @link.image.url, width: '300px' %>
  <% end %>

  <p>
    <strong>Url:</strong>
    <%= @link.url %>
  </p>

  <p>
    <strong>Название:</strong>
    <%= @link.title %>
  </p>

  <p>
    <strong>Обложка:</strong>
    <%= @link.image %>
  </p>

  <p>
    <strong>Пользователь:</strong>
    <%= @link.user_id %>
  </p>

  <p>
    <strong>Подборка:</strong>
    <%= @link.board_id %>
  </p>

  <%= link_to 'Edit', edit_link_path(@link) %>

</main>
