<main class="main">

  <section class="section_links-wrapper">

      <p>URL:</p>
        <div class="link__url"><%= @link.url %></div>

      <p>Название:</p>
        <h2 class="link__title"><%= @link.title %></h2>

      <p>Обложка:</p>
      <% if @link.image.try(:url) %>
       <%= image_tag @link.image.url, width: '300px' %>
      <% end %>

  </section>

    <%= link_to 'Edit', edit_link_path(@link) %> |
    <%= link_to 'Back', boards_path %>

</main>
