<section class="container_form" style="margin-top: 120px;">

<h1 class="form__header">Войти в аккаунт</h1>
<div class="form__subtitle"></div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: false, autocomplete: "off", placeholder: "ted@nelson.com" %>
  </div>

  <div class="field" style="margin-bottom: 10px;">
    <%= f.label value="Пароль" %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "••••••", id: "password" %>
    <%= image_tag "eye.svg", id: "togglePasswordVisibility", class: "svg" %>
  </div>

  <div class="form-board__buttons">
    <div class="actions">
      <%= f.submit value="Войти", :class => "button_ok button_disabled" %>
    </div>
  </div>

<% end %>

<%= render "devise/shared/links" %>

</section>
