<section class="header_board desktop">

  <div class="section_board__heading header_over-line">
    <div class="section_board__heading_left">

      <% if board.published %>
        <%= image_tag "link.svg", class: "icon icon_privacy" %>
      <% else %>
        <%= image_tag "lock.svg", class: "icon icon_privacy" %>
      <% end %>

      <% if board.collaborations.any? %>
        <%= image_tag "collab.svg", class: "icon icon_privacy" %>
      <% end %>

      <h1 class="section_board__title"><%= link_to board.title, board_path(board) %></h1>

      <% label = board.published ? "Публичная" : "Приватная" %>
      <div class="section_board__label"><%= label %></div>

      <% if board.collaborations.any? %>
        <div class="section_board__label">Общая</div>
      <% end %>

      </div>

        <div class="container_bookmark">
          <% if board.favourited == true %>
            <%= link_to favourite_board_path(board) do %>
              <%= image_tag "blackbookmark.svg", class: "icon icon__bookmark" %>
            <% end %>
          <% else %>
            <%= link_to favourite_board_path(board) do %>
              <%= image_tag "bookmark.svg", class: "icon icon__bookmark" %>
            <% end %>
          <% end %>
        </div>
    </div>

      <hr>

      <div class="header_under-line">
        <p class="section_board__description"><%= board.description %></p>
        <div class="header_under-line_right">
          <div class="button_edit button_privacy">Поделиться</div>
          <div class="button_edit"><%= link_to 'Изменить', edit_board_path(board), remote: true %></div>

        <%= render 'application/privacymenu', board: board  %>

</section>

<section class="header_board mobile">
  <h1 class="section_board__title"><%= link_to board.title, board_path(board) %></h1>
  <p class="section_board__description"><%= board.description %></p>
  <div class="divider_mobile"></div>

</section>
