  <%= form_with(model: board, local: true) do |form| %>
    <% if board.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

        <ul>
        <% board.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label value="Название" %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label value="Описание" %>
      <%= form.text_area :description %>
    </div>

    <!-- <div class="field">
      <%#= form.label value="Пользователь" %>
      <%#= form.number_field :user_id %>
    </div> -->

    <!-- <div class="field">
      <%#= form.label value="Приватная подборка" %>
      <%#= form.check_box :private %>
    </div> -->

    <!-- <div class="field">
      <%#= form.label value="Общий доступ по ссылке" %>
      <%#= form.text_field :share_url %>
    </div> -->

    <div class="actions">
      <%= form.submit value="Добавить" %>
    </div>
  <% end %>
