<main class="main">

  <% @boards.each do |board| %>

    <h1 class="board_header"><%= board.title %></h1>
      <!-- <img src="../assets/images/settings.svg" class="board_settings"> -->
    <div class="board_settings">
      <div class="board_settings_element"><%= link_to 'Показать', board %></div>
      <div class="board_settings_element"><%= link_to 'Изменить', edit_board_path(board) %></div>
      <div class="board_settings_element"><%= link_to 'Удалить', board, method: :delete, data: { confirm: 'Вы уверены?' } %></div>
    </div>
    <p class="board_description"><%= board.description %></p>

  <% end %>

</main>
