<main class="main_show">

  <p>
    <strong>Название:</strong>
    <%= @board.title %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= @board.description %>
  </p>

  <p>
    <strong>Пользователь:</strong>
    <%= @board.user_id %>
  </p>

  <p>
    <strong>Приватная:</strong>
    <%= @board.private %>
  </p>

  <p>
    <strong>Поделиться:</strong>
    <%= @board.share_url %>
  </p>

  <%= link_to 'Edit', edit_board_path(@board) %> |
  <%= link_to 'Back', boards_path %>

</main>
