<section class="section_linksWrapper">

  <section class="section_boardInLinks">

    <div class="section_boardInLinks__heading">

      <div class="section_boardInLinks__heading_left">
        <h1 class="section_boardInLinks__title"><%= @board.title %></h1>
        <div style="transform: translateY(3px); opacity: .5;"><%= @links.count %></div>
        <% if @board.public %>
          <%= image_tag "link.svg", class: "icon_sharelink" %>
          <div class="container__share-url menu">
            <div class="share-url"><%= 'localhost:3333/b/' + @board.share_url.to_s %></div>
            <div class="share_url__button" class="share_url__button_copy">Скопировать</div>
          </div>
        <% end %>
      </div>

      <div class="container__menu-dropdown">
      <div class="more">
        <div id="button-more" class="button-more">
            <span class="button-more__dot"></span>
            <span class="button-more__dot"></span>
            <span class="button-more__dot"></span>
        </div>

        <div class="menu-dropdown menu-dropdown_edit-board menu">
          <div class="menu-dropdown__list">
            <li><%= link_to 'Изменить', edit_board_path(@board) %></li>
            <li>
              <% public = @board.public ? "Сделать приватной" : "Сделать публичной" %>
              <%= link_to public, publish_board_path(@board) %>
            </li>
            <li><%= link_to 'Удалить', @board, method: :delete, data: { confirm: 'Вы уверены?' }, style: 'color: red' %></li>
          </div>
        </div>
      </div>
      </div>

    </div>

    <p class="section_boardInLinks__description"><%= @board.description %></p>

  </section>

  <section class="section_links" id="linksPage">
      <%= render 'links/newlink' %>
      <%= render @links %>
  </section>

  <div><%= link_to "Новая коллаборация", new_board_collaboration_path(@board) %></div>

  <div id="loadMoreBoards"></div>

</section>
