<div class="popup_collaboration-form">

  <%= form_with(model: [ :board, @collaboration ], local: true) do |form| %>

    <% if collaboration.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(collaboration.errors.count, "error") %> prohibited this collaboration from being saved:</h2>

        <ul>
        <% collaboration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="field">
        <%= form.email_field :user_email, autofocus: false, autocomplete: "off", placeholder: "Введите адрес или никнейм коллаборатора...", id: "emailFieldMultiple" %>
      </div>

      <div class="form-collaboration__buttons">
        <div class="actions">
          <%= form.submit value="Добавить", :class => "button_ok button_disabled" %>
        </div>
        <a class="button_back" data-remote="true">Отменить</a>
      </div>

    <% end %>

</div>
