<header class="menubar">

  <div class="menubar__left">
    <%= link_to welcome_index_path do %>
      <%= image_tag "logo.svg", class: "link_logo" %>
    <% end %>
    <%= link_to 'Мои подборки', boards_path %>
    <%= link_to 'Мои подписки'%>
  </div>

  <div class="menubar__right">
    <%= link_to 'Добавить подборку', new_board_path, class: "button_new-board" %>
    <%= link_to 'Добавить ссылку', new_link_path %>
  </div>

  <div class="avatar">
    <% if user_signed_in? %>
      <%#= link_to "Выйти", destroy_user_session_path, method: :delete %>
      <%#= render 'settingsmenu' %>
      <%= link_to '@username' %>
      <div class="image__avatar"><%= render "application/avatar" %></div>
    <% else %>
      <%= link_to "Войти", new_user_session_path %>
      <%= link_to "Зарегистрироваться", new_user_registration_path %>
    <% end %>
  </div>

</header>
