<header class="menubar nav-down">

  <div class="menubar_left">
    <%= link_to boards_path do %>
      <div style="font-family: Inter; font-weight: bold; font-size: 22px" class: "link_logo">ССЫЛКИ</div>
    <% end %>
  </div>

  <% if user_signed_in? %>

  <div class="menubar_middle">
    <div class="menubar_middle__item"><%= link_to_unless_current("Все", :controller => "boards", :query => "" )%></div>
    <div class="menubar_middle__item"><%= link_to_unless_current("Личные", :controller => "boards", :query => "my") %></div>
    <div class="menubar_middle__item"><%= link_to_unless_current("Публичные", :controller => "boards", :query => "published")%></div>
    <div class="menubar_middle__item"><%= link_to_unless_current("Общий доступ", :controller => "boards", :query => "collaborative")%></div>
    <div class="menubar_middle__item"><%= link_to_unless_current("Избранное", :controller => "boards", :query => "favourited")%></div>
  </div>

  <div class="menubar_right">

    <%= render "search" %>

    <div class="icon-wrapper">
      <%= image_tag "p.svg", class: "icon_add" %>
      <%# <div style="font-size: 40px; margin-left: 15px; transform: rotate(90deg)" class="icon_add">×</div> %>
    </div>

    <div class="menu-dropdown menu-dropdown_add menu">
      <div class="menu-dropdown__list">
        <li><%= link_to 'Добавить подборку', new_board_path, class: "button_new-board", remote: true %></li>
        <li><%= link_to 'Добавить ссылку', new_link_path, class: "button_new-link", remote: true %></li>
      </div>
    </div>

    <% end %>

    <% if user_signed_in? %>
      <div class="avatar">
        <div class="image_avatar">
          <% if current_user.avatar? %>
            <%= image_tag(current_user.avatar_url) %>
          <% else %>
            <%= render "application/avatar" %>
          <% end %>
        </div>
        <div class="menu-dropdown menu-dropdown_settings menu">
          <span class="menu-dropdown__caret"></span>
          <div class="menu-dropdown__username">@<%= current_user.nickname %></div>
          <div class="menu-dropdown__list">
            <li><%= link_to 'Настройки', edit_user_by_nickname_path(current_user.nickname) %></li>
            <li><%= link_to "Выйти", destroy_user_session_path, method: :delete %></li>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</header>
