<header class="menubar nav-down">

  <div class="menubar_left">

    <%= link_to welcome_index_path do %>
      <%= image_tag "logo.svg", class: "link_logo" %>
    <% end %>
    <%= link_to 'Мои подборки', boards_path %>
    <%= link_to 'Мои подписки' %>

  </div>

  <div class="menubar_right">

    <% if user_signed_in? %>
    <div class="icon-wrapper">
      <%= image_tag "plus_black.svg", class: "icon_add" %>
    </div>
    <div class="menu-dropdown menu-dropdown_add">
      <div class="menu-dropdown__username">Создать</div>
      <div class="menu-dropdown__close"></div>
      <div class="menu-dropdown__list">
        <li><%= link_to 'Добавить подборку', new_board_path, class: "button_new-board", remote: true %></li>
        <li><%= link_to 'Добавить ссылку', new_link_path, class: "button_new-link", remote: true %></li>
      </div>
    </div>

    <div class="icon-wrapper">
      <%= image_tag "bell.svg", class: "icon-bell" %>
      <!-- <div class="icon-bell__red-dot"></div> -->
    </div>
    <% end %>

    <div class="avatar">
      <% if user_signed_in? %>
        <div class="image_avatar"><%= render "application/avatar" %></div>
        <div class="menu-dropdown menu-dropdown_edit">
          <div class="menu-dropdown__username">@semilunar<%#= @user.nickname %></div>
          <div class="menu-dropdown__close"></div>
          <div class="menu-dropdown__list">
            <li><%= link_to 'Настройки' %></li>
            <li><%= link_to "Выйти", destroy_user_session_path, method: :delete %></li>
          </div>
        </div>

      <% else %>
        <%= link_to "Войти", new_user_session_path, style: "margin-right: 30px;" %>
        <%= link_to "Зарегистрироваться", new_user_registration_path %>
      <% end %>
    </div>

  </div>

</header>
