<div class="container__menu-privacy menu">
  <div class="menu-privacy__content">

    <div class="menu-privacy__list">

      <li>
        <div class="menu-privacy__icon">
          <%= image_tag "link-smaller.svg", class: "icon icon_privacy icon_published" %>
        </div>
        <div class="menu-privacy__item">Доступ по ссылке</div>
        <%# if @board.shared %>
          <%#= link_to share_board_path(@board) do %>
            <div class="menu-privacy__toggle toggle toggle_sharelink">
              <div class="toggle__body">
                <div class="toggle__circle"></div>
              </div>
            </div>
          <%# end %>
        <%# end %>
      </li>

      <li>
        <div class="menu-privacy__icon">
          <%= image_tag "collab.svg", class: "icon icon_privacy icon_shared" %>
        </div>
        <div class="menu-privacy__item">Совместный доступ</div>
        <div class="menu-privacy__toggle toggle toggle_collab">
          <div class="toggle__body">
            <div class="toggle__circle"></div>
          </div>
        </div>
      </li>

    </div>

    <div class="divider_mobile"></div>

    <div class="menu-privacy__footer">

      <div class="menu-privacy__buttons">
        <%= link_to 'Добавить коллаборатора', new_board_collaboration_path(board), class: "button_add button", remote: true %>

        <% if board.published %>
          <div class="share-url"><%= link_to shared_board_url(board.share_url), shared_board_url(board.share_url)%></div>
          <div class="share_url__button_copy button_copy button">Скопировать ссылку</div>
        <% else %>
          <%= link_to "Скопировать ссылку", publish_board_path(board), class: "share_url__button_copy button_copy button" %>
        <% end %>
      </div>

    </div>
    <div class="actions_close mobile">Закрыть</div>
  </div>
</div>
